#canvas {
    margin: auto;
   border: 1px solid black;
  width: 1000px;
  height: 390px;
  background-color: #cccccc;
  background-image: url("Savannah_Level.png");
}
h1{
    text-align: center;
    color: darkgreen;
    font-family: fantasy;
    font-size: 50px;
}
h2{
    text-align: center;
    color: orangered;
    font-family: fantasy;
    font-size: 45px;
}
body{
    background-image: url("night_bg.PNG");
}
