#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1{
    text-align: center;
    color: darkgreen;
    font-family: fantasy;
    font-size: 50px;
}
h2{
    text-align: center;
    color: orangered;
    font-family: fantasy;
    font-size: 45px;
}
body{
    background-image: url("night_bg.PNG");
}
