#background {
    margin: auto;
    border: 1px solid black;
    width: 1000px;
    height: 480px;
    background-color: #cccccc;
    /*background-image: url("cavelevel8.PNG");*/
}

#ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background: green;
    top: 380px;
    left: 400px;
}

h1 {
    text-align: center;
    color: darkgreen;
    font-family: fantasy;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: orangered;
    font-family: fantasy;
    font-size: 45px;
}

body {
    background-image: url("night_bg.PNG");
}

#platform {
    background-color: red;
    height: 10px;
    width: 50px;
    position: absolute;
    top: 340px;
    left:850px;
}

#platform2 {
    background-color: red;
    height: 10px;
    width: 50px;
    position: absolute;
    top: 370px;
    left:950px;
}

#container{
    text-align: center;
    top: 500px;

}

#trace {

    color: white;
}

.PP{
    display:inline;
    border-radius: 12px;
    color: white;
    padding: 16px 18px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 9px #999;
}

#play{
    background-color: lime;
}
#pause{
    background-color: orange;
}

#play:hover {background-color: lawngreen;}

#play:active {
  background-color: limegreen;
  box-shadow: 0 4px #666;
  transform: translateY(3px);
}

#pause:hover {background-color: darkorange;}

#pause:active {
  background-color: orangered;
  box-shadow: 0 4px #666;
  transform: translateY(3px);
}
